.scroll{overflow: hidden;}
[class|= 'material']{font-family: 'Material Icons';}

/* 메인페이지 width */
.mainWidth{max-width: 1830px; width: calc(100% - 90px); padding: 0 45px; margin: 0 auto;}
/* 서브페이지 width */
.width1200{max-width: 1200px; margin: 0 auto;}
.width1035{max-width: 1035px; margin: 0 auto;}

/* title case */
.t_case01{font-size: 70px; font-weight: 900;}
.t_case01.lh01{line-height: 85px;}
.t_case02{font-size: 62px; line-height: 82px; font-weight: 700;}    /* 20px / 10px */
.t_case03{font-size: 54.5px; font-weight: 700;}
.t_case04{font-size: 40px; font-weight: 700;}
.t_case04.lh01{line-height: 46px;}
.t_case05{font-size: 36px; font-weight: 700;}
.t_case06{font-size: 28px; line-height: 36px; font-weight: 700;}  /* 8px / 4px */
/* font case */
.f_case01{font-size: 26px; line-height: 43px;}  /* 17px / 8.5px */
.f_case02{font-size: 32px;}  /* 15px / 7.5px */
.f_case02.lh01{line-height: 47px;}
.f_case02.lh02{line-height: 42px;}
.f_case03{font-size: 27px; line-height: 33px; font-weight: 700;}
.f_case04{font-size: 23px; line-height: 33px;}
.f_case05{font-size: 21px; line-height: 31px;}
.f_case06{font-size: 20px; line-height: 28px;} /* 8px / 4px */
.f_case07{font-size: 17px; line-height: 25px;}

mark{background-color: transparent;}
mark[class ^= 'case']{position: relative; display: inline-block; line-height: 1;}
mark[class ^= 'case']::after{content: ''; position: absolute; left: 0; bottom: -4px; width: 100%; height: 6px;}
mark.case01::after{background-color: #39bca5;}
mark.case02::after{background-color: #f15b39;}
mark.case03::after{background-color: #f78e1d;}
mark.case04::after{background-color: #43e5c9;}
mark span{position: relative; z-index: 1;}

/* 메인 - padding case */
.main_padding01{padding-left: 5.5%; padding-right: 5.5%; box-sizing: border-box; }

.contactUsLink{display: none;}


header{position: fixed; left: 0; top: 0; width: 100%; /* background: rgba(0, 0, 0, 0.6); */ z-index: 100; overflow: hidden; }
header::after{content: ''; position: absolute; left: 0; width: 100%; height: 1px; background-color: #dddddd;}
header > div{display: flex; justify-content: space-between;}
header > div h1{text-indent: -9999px;}
header > div h1 a{background-repeat: no-repeat; background-position: center; background-size: cover;}
header > div > div{display: flex;}
header > div > div nav{margin-right: 35px;}
header > div > div nav > ul{display: flex;}
header > div > div nav > ul > li > a{padding: 0 50px; font-size: 22px; font-weight: bold; line-height: 110px;}
header > div > div nav > ul > li > a span{position: relative;}
header > div > div nav > ul > li > a span::after{content: ''; position: absolute; left: 0; bottom: -10px; width: 100%; height: 1px; background-color: transparent;}
header > div > div nav > ul > li:hover > a span{color: #39bca5;}
header > div > div nav > ul > li:hover > a span::after{background-color: #39bca5;}
header > div > div nav > ul > li ul{padding-left: 50px; display: none;}
header > div > div nav > ul > li ul li:first-of-type{padding-top: 25px;}
header > div > div nav > ul > li ul li:last-of-type{padding-bottom: 25px;}
header > div > div nav > ul > li ul li a{font-size: 20px; font-weight: 500; color: #888888; display: block; padding: 15px 0;}
header > div > div nav > ul > li ul li:hover a{font-weight: 700; color: black;}
header > div > div button{height: 110px; width: 27px;}
header > div > div button span{display: block; width: 21px; height: 3px; background-color: white;}
header > div > div button span:nth-child(1){margin-left: auto; margin-bottom: 10px;}

.mainPage header::after{top: 124px;}
.mainPage header h1{width: 89px; height: 99px; padding-top: 25px;}
.mainPage header h1 a{display: block; height: 100%; background-image:url('../images/logo01.png'); }
.mainPage header > div > div nav > ul > li > a{color: white;}

.mainPage header{transition: 0.5s background-color; }
.mainPage header h1 a{transition: 0.5background-image;}
.mainPage header > div > div nav > ul > li > a{transition:0.5s color;}
.mainPage header > div > div button span{transition:0.5s background-color;}
.mainPage header.active{background-color: white;}
.mainPage header.active h1 a{background-image: url('../images/logo02.png');}
.mainPage header.active > div > div nav > ul > li > a{color: black;}
.mainPage header.active > div > div button span{background-color: black;}
.mainPage header h1.black a{background-image: url('../images/logo02.png');}
.mainPage header > div > div.black nav > ul > li > a{color: black;}
.mainPage header > div > div.black button span{background-color: black;}

.subPage header{background-color: white; box-shadow: 2px 5px 10px 0px rgba(0, 0, 0, 0.2);}
.subPage header::after{top: 124px;}
.subPage header h1{width: 186px; height: 110px; display: flex; align-items: center;} 
.subPage header h1 a{display: block; width: 100%; height: 62px; background-image:url('../images/sub_logo01.png'); }
.subPage header > div > div nav > ul > li > a{color: black;}

.scrollProgress{position: fixed; right: 45px; bottom: 130px;}
.scrollProgress span{ font-family: 'Poppins', sans-serif; font-weight: 700; color: white; position: absolute; bottom: -95px; left: 3px; transform: rotate(-90deg); transform-origin: left;}
.scrollProgress > div{width: 5px; height: 140px; background-color: rgba(255, 255, 255, 0.2); border: 1px solid rgba(255, 255, 255, 0.5);  border-radius: 20px; position: relative;}
.scrollProgress > div > div{width: 5px; height: 0%; position: absolute; left: 0; top: 0; background-color: white; border-radius: 20px; }
.scrollProgress.black span{color: black;}
.scrollProgress.black > div{background-color: rgba(0, 0, 0, 0.2); border-color: rgba(0, 0, 0, 0.5);}
.scrollProgress.black > div > div{background-color: black;}


footer{padding: 85px 0; background-color: #202020;}
footer > div{display: flex; justify-content: space-between; align-items: center;}
footer > div h2{max-width: 186px;}
footer > div h2 img{width: 100%;}
footer > div > div{display: flex;}
footer > div > div address{font-style: normal; display: flex; color: white; margin-right: 65px;}
footer > div > div address p:not(:last-of-type){margin-right: 40px;}
footer > div > div > p{color: rgba(255, 255, 255, 0.4);}