/* noto sans KR all , nanum myeongjo 700 , poppins 700*/
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Poppins:wght@700&display=swap');
/*
font-family: 'Nanum Myeongjo', serif;
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Poppins', sans-serif; 
*/

@import url('reset.css');
@import url('global.css');
@import url('page.css');
@import url('subPage.css');