
/* 메인페이지 */
[data-scroll="all"]{height: 100vh; background-repeat: no-repeat; background-position: center; background-size: cover;}
[data-scroll="pc"] > *{height: 100vh;}

[data-scroll="all"]:nth-of-type(1){background-image: url('../images/main_BG01.png');}
[data-scroll="all"]:nth-of-type(2){background-image: url('../images/main_BG02.png');}

