
/* 메인페이지 */
[data-scroll="all"]{height: 100vh; background-repeat: no-repeat; background-position: center; background-size: cover; }
[data-scroll="all"] > div{height: 100%;  display: flex; align-items: center; padding-top: 124px; box-sizing: border-box;}
[data-scroll="pc"] > *:not(footer){height: 100vh;  padding-top: 124px; box-sizing: border-box;}

[data-scroll="all"]:nth-of-type(1){background-image: url('../images/main_BG01.png');}
[data-scroll="all"]:nth-of-type(2){background-image: url('../images/main_BG02.png');}
/* 메인 레이아웃 case */
.main_layout01 > div.titleArea h2{height: 18vh; display: flex; align-items: center;}
.main_layout01 > div.contentArea{max-height: 70.3703vh; height: 100%;}
.main_layout01 > div.contentArea > *{height: 100%;}


[data-scroll="all"] strong{color: white;  padding: 0 3.2%; position: relative;}
[data-scroll="all"] strong span{position: absolute;}
[data-scroll="all"] strong span:nth-of-type(1){background-color: #f15835; width: 6px; height: 120px;}
[data-scroll="all"] strong span:nth-of-type(2){background-color: #f78e1d; height: 6px;}
[data-scroll="all"] strong span:nth-of-type(3){background-color: #39bca5; width: 6px;}
[data-scroll="all"]:nth-of-type(1) strong span:nth-of-type(1){left: 0; bottom: 0;}
[data-scroll="all"]:nth-of-type(1) strong span:nth-of-type(2){right: 60px; bottom: 0; width: 80px;}
[data-scroll="all"]:nth-of-type(1) strong span:nth-of-type(3){right: 0; top: calc(50% - 42.5px); height: 95px;}
[data-scroll="all"]:nth-of-type(2) strong span:nth-of-type(1){left: 0; top: 15px;}
[data-scroll="all"]:nth-of-type(2) strong span:nth-of-type(2){left: 60px; bottom: -30px; width: 130px;}
[data-scroll="all"]:nth-of-type(2) strong span:nth-of-type(3){right: 230px; bottom: -135px; height: 110px;}

/* 메인 - 도전*/
.main_challengeArea{position: relative;}
.main_challengeArea::after{content: ''; position: absolute; right: 0; top: 0; width: 55%; height: 100%; background: url('../images/main_BG03.png') no-repeat right top / cover;}
.main_challengeArea > div{height: 100%; display: flex; flex-direction: column; justify-content: center; }
.main_challengeArea > div > *{padding-left: 3.27%; box-sizing: border-box;}
.main_challengeArea > div h2{letter-spacing: 5px; margin-bottom: 70px;}

/* 메인 - 경험의 가치 */
.main_experienceArea{background-color: #f9f9f9;}
.main_experienceArea > div{height: 100%; display: flex; align-items: center; /* background: url('../images/main_BG04.png') no-repeat center right 5% / 43.49%; */}
.main_experienceArea > div{position: relative;}
.main_experienceArea > div > div:not(.imgBox){position: relative; z-index: 1;}
.main_experienceArea > div > div h2{margin-bottom: 50px;}
.main_experienceArea > div > div p:not(:last-of-type){margin-bottom: 70px;}
.main_experienceArea > div > div p b{font-family: 'Nanum Myeongjo', serif;}
.main_experienceArea > div .imgBox{position: absolute; right: 0; top: 0; width: 50%; height: 100%; display: flex; align-items: center; padding: 0 1.3%; box-sizing: border-box;}
.main_experienceArea > div .imgBox img{width: 100%; max-width: 796px;}

/* 메인 - 인터뷰 */
.main_interviewArea h2{display: none;}
.main_interviewArea > div{height: 100%;}
.main_interviewArea .bx-wrapper{height: 100%;  padding-top: 100px; padding-bottom: 100px; box-sizing: border-box;}
.main_interviewArea .bx-wrapper{box-shadow: none; border: none; background: transparent; margin: 0; height: 100%;}
.main_interviewArea .bx-wrapper .bx-viewport{height: 100%;}
.main_interviewArea .mainSlider{height: 100%;}
.main_interviewArea .mainSlider > div{height: 100%;}
.main_interviewArea .mainSlider > div > *:not(.imgBox){position: relative; z-index: 1;}
.main_interviewArea .mainSlider > div h3{margin-bottom: 125px;}
.main_interviewArea .mainSlider > div h3 small{font-family: 'Poppins', sans-serif;  font-size: 22px; line-height: 1; display: block; margin-bottom: 50px;}
.main_interviewArea .mainSlider > div p:not(:last-of-type){margin-bottom: 20px;}
.main_interviewArea .mainSlider > div .imgBox{position: absolute; right: 1px; top: 0; width: 56%; height: 100%; display: flex; align-items: center;}
.main_interviewArea .mainSlider > div .imgBox img{width: 100%;}

/* 메인 - 가능성 */
.main_possibilityArea{display: flex; flex-direction: column; justify-content: flex-end;}
.main_possibilityArea > div:nth-of-type(2){ background: url('../images/main_BG06.png') no-repeat center / cover;}
.main_possibilityArea > div ol{display: flex; justify-content: space-evenly; padding: 100px 0; box-sizing: border-box; color: white; position: relative;}
.main_possibilityArea > div ol li{counter-increment: mainPossibilit; position: relative;}
.main_possibilityArea > div ol li > *{position: relative; z-index: 1;}
.main_possibilityArea > div ol li::before{content: ''; position: absolute; left: -50px; top: -50px; width: 220px; height: 220px;border-radius: 100%; }
.main_possibilityArea > div ol li:nth-child(1)::before{background-color: #f15835;}
.main_possibilityArea > div ol li:nth-child(2)::before{background-color: #39bca5;}
.main_possibilityArea > div ol li:nth-child(3)::before{background-color: #f78e1d;}
.main_possibilityArea > div ol li:nth-child(4)::before{background-color: #000000;}
.main_possibilityArea > div ol li span{display: flex; align-items: flex-end; font-family: 'Poppins', sans-serif;  margin-bottom: 40px;}
.main_possibilityArea > div ol li span::before{content: '0' counter(mainPossibilit); font-size: 22px; font-weight: 700;}
.main_possibilityArea > div ol li span::after{content: ''; width: 22px; height: 3px; background-color: white; margin-left: 10px;}
.main_possibilityArea > div ol li h3{margin-bottom: 75px;}

/* 메인 - 게시판 */
.main_boardArea > div.contentArea > div h3{margin-bottom: 20px;}
.main_boardArea > div.contentArea::after{content: ''; display: block; clear: both;}
.main_boardArea > div.contentArea > div{float: left; width: 39%; margin: 0 5.5%; position: relative;}
.main_boardArea > div.contentArea > div ul{display: flex; flex-wrap: wrap; justify-content: space-between;}
.main_boardArea > div.contentArea > div ul li{width: 48%;}
.main_boardArea > div.contentArea > div ul li:not(:nth-child(-n + 2)){margin-top: 60px;}
.main_boardArea > div.contentArea > div ul li img{width: 100%; margin-bottom: 15px;}
.main_boardArea > div.contentArea > div > a{position: absolute; right: 0; top: 3px; font-size: 30px; color: black; font-weight: 900;}


/* 서브페이지 공통 */
.subPage > section{padding-top: 110px;}
.subPage .contentsArea.case01{padding: 100px 0;}

.subPage .contentsArea h3{text-align: center;}
.subPage .contentsArea h3.m_case01{margin-bottom: 80px;}
.subPage .contentsArea h3.m_case02{margin-bottom: 50px;}
.subPage .contentsArea h3 + p{text-align: center;}

.listLink.case01{display: block; margin: 0 auto; font-size: 25px; font-weight: 700; color: white; text-align: center; background-color: #333333; border-radius: 5px;}

/* 서브페이지 타이틀 */
.subPage > section .subTitle{height: 360px; display: flex; flex-direction: column; justify-content: center; align-items: center; font-size: 46px; font-weight: 700; color: white; background-repeat: no-repeat; background-position: center; background-size: cover;}
.subPage > section .subTitle mark{font-family: 'Poppins', sans-serif;  font-size: 22px; font-weight: 700; color: #86ffea; margin-bottom: 30px;}
/* 서브페이지 타이틀 배경*/
/* 솔루션 */
[class ^= 'solution'] .subTitle{background-image: url('../images/solution_titllBG.png');}
/* 기업소개 */
[class ^= 'company'] .subTitle{background-image: url('../images/company_titllBG.png');}
/* 서브페이지 페이저 */
.subPage .subPager{padding: 15px 0; border-bottom: 1px solid rgba(0, 0, 0, 0.1);}
.subPage .subPager ol{display: flex;}
.subPage .subPager ol li{padding-right: 20px; margin-right: 20px; border-right: 1px solid rgba(0, 0, 0, 0.1); color: #666666;}
.subPage .subPager ol li:first-child{position: relative; text-indent: -9999px; width: 25px;}
.subPage .subPager ol li:first-child:before{content: ''; position: absolute; left: 0; bottom: -2px; width: 25px; height: 21px; background: url('../images/pagaIocn01.png') no-repeat center / cover;}
.subPage .subPager ol li:nth-child(2){display: flex; align-items: center;}
.subPage .subPager ol li:nth-child(2)::after{content: ''; width: 12px; height: 7px; background: url('../images/pagaIocn02.png') no-repeat center / cover; margin-left: 15px;}

/* 서브페이지 border box */
.subPage .borderBox{border-width: 1px 1px 1px 10px; border-color: #d6d6d6 #d6d6d6 #d6d6d6 #39bca5; border-style: solid; box-sizing: border-box;}


/* 서브페이지 - 솔루션 */

.solutionArea .contentsArea{text-align: center;}
.solutionArea .contentsArea strong{display: block; margin-bottom: 40px;}
.solutionArea .contentsArea > p{margin-bottom: 110px;}
.solutionArea .contentsArea h3{margin-bottom: 50px;}
.solutionArea .contentsArea ul::after{content: ''; display: block; clear: both;}
.solutionArea .contentsArea ul li{float: left; width: 31.66%; text-align: left; padding-top: 405px; background-repeat: no-repeat; background-position: center top; background-size: 100%;}
.solutionArea .contentsArea ul li:not(:last-child){margin-right: 2.51%;}
.solutionArea .contentsArea ul li:nth-child(1){background-image: url('../images/solution_img01.png');}
.solutionArea .contentsArea ul li:nth-child(2){background-image: url('../images/solution_img02.png');}
.solutionArea .contentsArea ul li:nth-child(3){background-image: url('../images/solution_img03.png');}
.solutionArea .contentsArea ul li div{width: 240px; font-weight: 700; padding: 20px 10px 0; background-color: white; box-sizing: border-box;}

.solutionArea .solution_orderList{ background: url('../images/main_BG06.png') no-repeat center / cover;}
.solutionArea .solution_orderList > ol{display: flex; justify-content: space-evenly; padding: 140px 0 110px; box-sizing: border-box; color: white; position: relative;}
.solutionArea .solution_orderList > ol li{counter-increment: mainPossibilit; position: relative;}
.solutionArea .solution_orderList > ol li > *{position: relative; z-index: 1;}
.solutionArea .solution_orderList > ol li::before{content: ''; position: absolute; left: -50px; top: -50px; width: 220px; height: 220px;border-radius: 100%; }
.solutionArea .solution_orderList > ol li:nth-child(1)::before{background-color: #f15835;}
.solutionArea .solution_orderList > ol li:nth-child(2)::before{background-color: #39bca5;}
.solutionArea .solution_orderList > ol li:nth-child(3)::before{background-color: #f78e1d;}
.solutionArea .solution_orderList > ol li:nth-child(4)::before{background-color: #000000;}
.solutionArea .solution_orderList > ol li > span{display: flex; align-items: flex-end; font-family: 'Poppins', sans-serif;  margin-bottom: 40px;}
.solutionArea .solution_orderList > ol li > span::before{content: '0' counter(mainPossibilit); font-size: 22px; font-weight: 700;}
.solutionArea .solution_orderList > ol li > span::after{content: ''; width: 22px; height: 3px; background-color: white; margin-left: 10px;}
.solutionArea .solution_orderList > ol li h3{margin-bottom: 75px;}
.solutionArea .solution_orderList > ol li p{margin-bottom: 25px;}
.solutionArea .solution_orderList > ol li a{width: 120px; line-height: 35px; border: 1px solid #b2b2b2; font-size: 15px; color: white; padding: 0 15px; box-sizing: border-box; display: flex; justify-content: space-between; align-items: center;}
.solutionArea .solution_orderList > ol li a::after{content: ''; width: 18px; height: 9px; background: url('../images/linkIcon01.png') no-repeat center / cover; margin-left: 10px;}


/* 서브페이지 - 솔루션 - 리포트*/
.solution_reportArea .contentsArea a{color: black;}
.solution_reportArea .contentsArea ul::after{content: ''; display: block; clear: both;}
.solution_reportArea .contentsArea ul{margin-bottom: 100px;}
.solution_reportArea .contentsArea ul li{float: left; width: 28.53%;}
.solution_reportArea .contentsArea ul li:not(:nth-child(3n)){margin-right: 7.205%;}
.solution_reportArea .contentsArea ul li:not(:nth-child(-n + 3)){margin-top: 80px;}
.solution_reportArea .contentsArea ul li .imgBox{max-height: 193px; overflow: hidden; margin-bottom: 15px;}
.solution_reportArea .contentsArea ul li .imgBox img{width: 100%;}

.solution_reportArea .contentsArea .boardList{display: flex; justify-content: center; align-items: center;}
.solution_reportArea .contentsArea .boardList .listLink , .solution_reportArea .contentsArea .boardList .pageLink{text-indent: -9999px; height: 18px; margin: 0 5px; background-repeat: no-repeat; background-position: center; background-size: cover;}
.solution_reportArea .contentsArea .boardList .listLink{width: 19px;}
.solution_reportArea .contentsArea .boardList .pageLink{width: 11px;}
.solution_reportArea .contentsArea .boardList .listLink:nth-of-type(1){background-image: url('../images/boardPrevIcon01.png');}
.solution_reportArea .contentsArea .boardList .pageLink:nth-of-type(2){background-image: url('../images/boardPrevIcon02.png');}
.solution_reportArea .contentsArea .boardList .pageLink:nth-of-type(3){background-image: url('../images/boardNextIcon01.png');}
.solution_reportArea .contentsArea .boardList .listLink:nth-of-type(4){background-image: url('../images/boardNextIcon02.png');}
.solution_reportArea .contentsArea .boardList ol{display: flex; justify-content: center; align-items: center; margin: 0 30px;}
.solution_reportArea .contentsArea .boardList ol li a{display: block; font-family: 'Poppins', sans-serif;  width: 37px; font-size: 22px; line-height: 37px; text-align: center; border-radius: 100%;}
.solution_reportArea .contentsArea .boardList ol li a.active , .solution_reportArea .contentsArea .boardList ol li a:hover{background-color: #39bca5; color: white;}


/* 서브페이지 - 솔루션 - 리포트 상세*/
.solution_report_datailArea .contentsArea{}
.solution_report_datailArea .contentsArea > div.board_contents{padding-bottom:50px;}
.solution_report_datailArea .contentsArea > div.board_contents .title{font-size: 30px; font-weight: 700; display: block; text-align: center; line-height: 150px; border-width: 1px 0; border-style: solid; border-color: #cccccc; margin-bottom: 50px;}
.solution_report_datailArea .contentsArea > div.board_contents .imgBox{text-align: center;}
.solution_report_datailArea .contentsArea > div.board_contents .imgBox:not(:last-child){margin-bottom: 90px;}
.solution_report_datailArea .contentsArea > div.board_contents > *:not(.title){font-size: 21px; line-height: 28px; padding: 0 5%;}
.solution_report_datailArea .contentsArea > div.board_contents > *:not(:last-child){margin-bottom: 30px;}
.solution_report_datailArea .contentsArea > div.downloadArea{padding: 40px 2.5%; border-width: 1px 0 2px; border-style: solid; border-color: #cccccc 0 black; margin-bottom: 50px;}
.solution_report_datailArea .contentsArea > div.downloadArea > *{font-size: 18px; color: #333333;}
.solution_report_datailArea .contentsArea > div.downloadArea > a{display: inline-block; margin-left: 20px; position: relative;}
.solution_report_datailArea .contentsArea > div.downloadArea > a::after{content: ''; position: absolute; left: 0; bottom: -7px; width: 100%; height: 1px; background-color: black;}
.solution_report_datailArea .contentsArea .listLink.case01{width: 280px; line-height: 70px;}


/* 서브페이지 - 솔루션 - 플랫폼*/
.solution_platformArea{text-align: center;}
.solution_platformArea .contentsArea > p{margin-bottom: 60px;}
.solution_platformArea .contentsArea > ul{display: flex; align-items: stretch; margin-bottom: 100px;}
.solution_platformArea .contentsArea > ul li{width: calc(100% / 3); height: 345px;  position: relative; }
.solution_platformArea .contentsArea > ul li::before{content: ''; position: absolute; left: 0; top: 0; width: 365px; height: 365px; border-radius: 100%; z-index: -1;}
.solution_platformArea .contentsArea > ul li:nth-child(1)::before{background-color: #f15835;}
.solution_platformArea .contentsArea > ul li:nth-child(2)::before{background-color: #39bca5;}
.solution_platformArea .contentsArea > ul li:nth-child(3)::before{background-color: #f78e1d;}
.solution_platformArea .contentsArea > ul li div{color: white; display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100%; padding-left: 30px; box-sizing: border-box;}
.solution_platformArea .contentsArea > ul li div::before{content: ''; width: 124px; height: 107px; background-repeat: no-repeat; background-position: center; background-size: cover; margin-bottom: 30px;}
.solution_platformArea .contentsArea > ul li:nth-child(1) div::before{background-image: url('../images/solution_platformIcon01.png');}
.solution_platformArea .contentsArea > ul li:nth-child(2) div::before{background-image: url('../images/solution_platformIcon02.png');}
.solution_platformArea .contentsArea > ul li:nth-child(3) div::before{background-image: url('../images/solution_platformIcon03.png');}
.solution_platformArea .contentsArea > div{height: 500px; background-color: #eeeeee;}


/* 서브페이지 - 솔루션 - 교육*/
.solution_educationArea{background-color:#f7f7f7;}
.solution_educationArea .contentsArea{}
.solution_educationArea .contentsArea > p{margin-bottom: 60px;}
/* 서브페이지 - 솔루션 - 교육 contentsBox*/
.solution_educationArea .contentsBox:not(:last-of-type){margin-bottom: 50px;}
.solution_educationArea .contentsBox{background-color: white; border-radius: 20px;}
.solution_educationArea .contentsBox .boxTop{padding: 60px 40px 45px;}
.solution_educationArea .contentsBox .boxTop h4{margin-bottom: 60px;}
.solution_educationArea .contentsBox .boxTop p{letter-spacing: -1px;}
.solution_educationArea .contentsBox .boxTop p:first-of-type{padding-top: 25px; background: url('../images/quoteIcon01.png') no-repeat left top;}
.solution_educationArea .contentsBox .boxBottom{padding: 40px; border-top: 1px solid #e0e0e0;}
.solution_educationArea .contentsBox .boxBottom strong{font-size: 22px; font-weight: 700;}
.solution_educationArea .contentsBox .boxBottom p{font-size: 21px;}

.boxBottom ul::after{content: ''; display: block; clear: both;}
.boxBottom ul:nth-of-type(1){margin-bottom: 50px;}
.boxBottom ul:nth-of-type(1) li{float: left; padding:40px 0; display: flex; align-items: center; background-color: #f5f5f5; border-radius: 20px;}
.boxBottom ul:nth-of-type(1) li:not(:last-child){width: calc((100% - 20px) / 2); margin-bottom: 20px;}
.boxBottom ul:nth-of-type(1) li:not(:nth-child(2n + 1)){margin-left: 20px;}
.boxBottom ul:nth-of-type(1) li:last-child{width: 100%;}
.boxBottom ul:nth-of-type(1) li strong{width: 155px; text-align: center; }
.boxBottom ul:nth-of-type(1) li div{width: calc(100% - 155px); padding: 0 30px; position: relative;}
.boxBottom ul:nth-of-type(1) li div::before{content: ''; position: absolute; left: 0; top: 0; width: 1px; height: 100%; background-color: #cccccc;}
.boxBottom ul:nth-of-type(1) li div p{letter-spacing: -0.5px;}
.boxBottom ul:nth-of-type(1) li div p span{display: block; color: #666666;}

.boxBottom ul:nth-of-type(2) li{float: left; width: calc((100% - 80px) / 3); padding: 0 25px; border: 1px solid #dfdfdf; border-radius: 20px; box-sizing: border-box;}
.boxBottom ul:nth-of-type(2) li:not(:last-child){margin-right: 40px;}
.boxBottom ul:nth-of-type(2) li strong{display: block; padding: 110px 0 25px; text-align: center; background-repeat: no-repeat; background-position: center top 30px;}
.boxBottom ul:nth-of-type(2) li.case01 strong{background-image: url('../images/solution_education_icon01_1.png');}
.boxBottom ul:nth-of-type(2) li.case02 strong{background-image: url('../images/solution_education_icon01_2.png');}
.boxBottom ul:nth-of-type(2) li.case03 strong{background-image: url('../images/solution_education_icon01_3.png');}
.boxBottom ul:nth-of-type(2) li:nth-child(2) strong{background-image: url('../images/solution_education_icon02.png');}
.boxBottom ul:nth-of-type(2) li:nth-child(3) strong{background-image: url('../images/solution_education_icon03.png');}
.boxBottom ul:nth-of-type(2) li p{height: 115px; display: flex; flex-direction: column; justify-content: center; align-items: center; border-top: 1px solid #dfdfdf; }
.boxBottom ul:nth-of-type(2) li p[data-standard]::after{content: '(' attr(data-standard) '기준)'; display: block;}
/* 솔루션 fin */


/* 서브페이지 - 기업소개 */

/* 서브페이지 - 기업소개 - 미션과 비전*/
.company_missionArea .contentsArea > div:not(:last-child){margin-bottom: 100px;}
.company_missionArea .contentsArea .visionArea::after{content: ''; display: block; clear: both;}
.company_missionArea .contentsArea .visionArea > div{float: left; width: calc((100% - 20px) / 2); height: 180px; display: flex; align-items: center;}
.company_missionArea .contentsArea .visionArea > div:nth-of-type(2n){margin-left: 20px;}
.company_missionArea .contentsArea .visionArea > div strong{width: 300px; text-align: center; text-transform: uppercase; letter-spacing: 5px;}
.company_missionArea .contentsArea .visionArea > div p{font-weight: 700;}

/* 서브페이지 - 기업소개 - 미션과 비전 - CI*/
.company_missionArea .contentsArea .CIArea > div:not(.designBox){float: left; width: calc((100% - 20px) / 2); margin-bottom: 50px;}
.company_missionArea .contentsArea .CIArea > div:nth-of-type(2n){margin-left: 20px;}
.company_missionArea .contentsArea .CIArea > div h4{font-size: 21px; font-weight: 400; margin-bottom: 20px;}

.company_missionArea .contentsArea .CIArea .basicBox img{width: 100%;}

.company_missionArea .contentsArea .CIArea .colorBox ul li::after{content: ''; display: block; clear: both;}
.company_missionArea .contentsArea .CIArea .colorBox ul li{width: 100%; height: 104px;}
.company_missionArea .contentsArea .CIArea .colorBox ul li:not(:last-child){margin-bottom: 30px;}
.company_missionArea .contentsArea .CIArea .colorBox ul li div{float: left; height: 100%; display: flex;}
.company_missionArea .contentsArea .CIArea .colorBox ul li div:nth-of-type(1){width: calc(100% - 130px); background-color: black;}
.company_missionArea .contentsArea .CIArea .colorBox ul li div:nth-of-type(2){width: 130px; border: 1px solid black; box-sizing: border-box;}

.company_missionArea .contentsArea .CIArea .designBox{clear: both;}
.company_missionArea .contentsArea .CIArea .designBox ul{margin-bottom: 50px;}
.company_missionArea .contentsArea .CIArea .designBox ul::after{content: ''; display: block; clear: both;}
.company_missionArea .contentsArea .CIArea .designBox ul li{float: left; width: calc((100% - 40px) / 3);}
.company_missionArea .contentsArea .CIArea .designBox ul li:not(:nth-child(3n)){margin-right: 20px;}
.company_missionArea .contentsArea .CIArea .designBox ul li:not(:nth-child(-n + 3)){margin-top: 20px;}
.company_missionArea .contentsArea .CIArea .designBox ul li img{width: 100%;}
.company_missionArea .contentsArea .CIArea .designBox .listLink.case01{width: 380px; line-height: 70px;}

/* 서브페이지 - 기업소개 - 미션과 비전 - 시설 안내*/
.company_missionArea .contentsArea .facilityArea::after{content: ''; display: block; clear: both;}
.company_missionArea .contentsArea .facilityArea > div{float: left; width: calc((100% - 20px) / 2); height: 315px; background-color: #eeeeee;}
.company_missionArea .contentsArea .facilityArea > div:nth-of-type(2n){margin-left: 20px;}

/* 서브페이지 - 기업소개 - 미션과 비전 - 파트너스*/
.company_missionArea .contentsArea .partnerArea ul::after{content: ''; display: block; clear: both;}
.company_missionArea .contentsArea .partnerArea ul li{float: left; width: calc((100% - 100px) / 6); text-align: center;}
.company_missionArea .contentsArea .partnerArea ul li:not(:nth-child(6n)){margin-right: 20px;}
.company_missionArea .contentsArea .partnerArea ul li:not(:nth-child(-n + 6)){margin-top: 20px;}
.company_missionArea .contentsArea .partnerArea ul li img{width: 100%; border: 1px solid #c5c5c5; margin-bottom: 20px;}
.company_missionArea .contentsArea .partnerArea ul li p{font-size: 21px;}

