@media screen and (max-width : 1279px) {
    @media screen and (max-width : 640px){
        html{font-size: 2.5vw;}
    }
    /* 메인페이지 width */
    .mainWidth{max-width: 1830px; width: calc(100% - 3.750em); margin: 0 auto;}
    /* 서브페이지 width */
    .width1200{max-width: 1200px; margin: 0 auto; }
    .width1200.mw_case01{max-width: 40.000rem; width: calc(100% - 3.750em);}
    .width1035{max-width: 1035px; margin: 0 auto;}

    /* title case */
    .t_case01{font-size: 3.313rem; font-weight: 900;} /* ! */
    .t_case01.lh01{line-height: 5.313rem;}
    .t_case02{font-size: 3.875rem; line-height: 5.125rem; font-weight: 700;}   /* ! */
    .t_case03{font-size: 3.375rem; font-weight: 700;} /* ! */
    .t_case04{font-size: 2.500rem; line-height: 3.125rem; font-weight: 700;}
    .t_case04.lh01{line-height: 2.875rem;}
    .t_case05{font-size: 2.250rem; font-weight: 700;}
    .t_case06{font-size: 2.188rem; line-height: 2.875rem; font-weight: 700;}   /* ! */
    /* font case */
    .f_case01{font-size: 1.750rem; line-height: 2.688rem;}   /* ! */
    .f_case02{font-size: 2.000rem;}  /* ! */
    .f_case02.lh01{line-height: 2.500rem;} /* ! */
    .f_case02.lh02{line-height: 2.625rem;}
    .f_case03{font-size: 1.688rem; line-height: 2.063rem; font-weight: 700;} 
    .f_case04{font-size: 1.813rem; line-height: 2.563rem;}  /* ! */
    .f_case05{font-size: 1.313rem; line-height: 1.938rem;}
    .f_case06{font-size: 1.375rem; line-height: 1.750rem;} /* ! */
    .f_case07{font-size: 1.063rem; line-height: 1.563rem;}

    mark{background-color: transparent;}
    mark[class ^= 'case']{position: relative; display: inline-block; line-height: 1;}
    mark[class ^= 'case']::after{content: ''; position: absolute; left: 0; bottom: -0.250rem; width: 100%; height: 0.375rem;}
    mark.case01::after{background-color: #39bca5;}
    mark.case02::after{background-color: #f15b39;}
    mark.case03::after{background-color: #f78e1d;}
    mark.case04::after{background-color: #43e5c9;}
    mark span{position: relative; z-index: 1;}

    /* 메인 - padding case */
    /* .main_padding01{padding-left: 5.5%; padding-right: 5.5%; box-sizing: border-box; } */

    .contactUsLink{display: none;}


    header{position: fixed; left: 0; top: 0; width: 100%; /* background: rgba(0, 0, 0, 0.6); */ z-index: 100; }
    header > div{display: flex; justify-content: space-between;}
    header > div h1{text-indent: -9999px; position: relative; z-index: 100;}
    header > div h1 a{background-repeat: no-repeat; background-position: center; background-size: cover;}
    header > div > div{display: flex;}
    header > div > div nav{position: fixed; left: 100%; top: 0; width: 100%; height: 100%; display: flex; flex-direction: column; padding-top: 6.875rem; box-sizing: border-box; background-color: white; z-index: 99;}
    header > div > div nav > ul{padding: 0.938rem 0; flex: 1;  overflow: auto; border-top: 1px solid #dddddd;}
    header > div > div nav > ul > li > a{padding: 0.938rem 1.875rem; font-size: 1.750rem; font-weight: bold; }
    header > div > div nav > ul > li > a span{position: relative;}
    header > div > div nav > ul > li > a span::after{content: ''; position: absolute; left: 0; bottom: -0.625rem; width: 100%; height: 1px; background-color: transparent;}
    header > div > div nav > ul > li:hover > a span{color: #39bca5;}
    header > div > div nav > ul > li ul{padding-left: 1.875rem; background-color: #f4f4f4; border-width: 1px 0; border-style: solid; border-color: #dddddd;}
    header > div > div nav > ul > li ul li:first-of-type{padding-top: 0.938rem;}
    header > div > div nav > ul > li ul li:last-of-type{padding-bottom: 0.938rem;}
    header > div > div nav > ul > li ul li a{font-size: 1.500rem; font-weight: 500; color: black; display: block; padding: 0.938rem 0;}
    header > div > div nav > ul > li ul li a:hover{color:#28b6a0;}
    header > div > div nav .contactUsLink{display: block; line-height: 5.000rem; background-color: #f78e1d; margin: 1.875rem;}
    header > div > div button{position: relative; z-index: 100;}
    header > div > div button span{display: block;}
    header > div > div button span:nth-child(1){margin-left: auto; margin-bottom: 1.063rem;}

    .mainPage header h1{width: 5.563rem; height: 6.188rem; padding-top: 1.563rem;}
    .mainPage header h1 a{display: block; height: 100%; background-image:url('../images/m/logo01.png'); }
    .mainPage header > div > div nav > ul > li > a{color: black;}
    .mainPage header > div > div button{height: 6.875rem; width: 3.750rem;  }
    .mainPage header > div > div button span{width: 2.938rem; height: 0.375rem; border-radius: 1.250rem; background-color: white;}

   /*  .mainPage header{transition: 0.5s background-color; }
    .mainPage header h1 a{transition: 0.5background-image;}
    .mainPage header > div > div nav > ul > li > a{transition:0.5s color;}
    .mainPage header > div > div button span{transition:0.5s background-color;}
    .mainPage header.active{background-color: white;}
    .mainPage header.active h1 a{background-image: url('../images/logo02.png');}
    .mainPage header.active > div > div nav > ul > li > a{color: black;}
    .mainPage header.active > div > div button span{background-color: black;}
    .mainPage header h1.black a{background-image: url('../images/logo02.png');}
    .mainPage header > div > div.black nav > ul > li > a{color: black;}
    .mainPage header > div > div.black button span{background-color: black;} */

    .subPage header{background-color: white; box-shadow: 2px 0.313rem 0.625rem 0px rgba(0, 0, 0, 0.2);}
    .subPage header::after{top: 7.750rem;}
    .subPage header h1{width: 11.625rem; height: 6.875rem; display: flex; align-items: center;} 
    .subPage header h1 a{display: block; width: 100%; height: 3.875rem; background-image:url('../images/sub_logo01.png'); }
    .subPage header > div > div nav > ul > li > a{color: black;}
    .subPage header > div > div button{height: 6.875rem; width: 3.438rem;  }
    .subPage header > div > div button span{width: 2.688rem; height: 0.188rem; border-radius: 1.250rem; background-color: black;}

    .scrollProgress{position: fixed; right: 2.813rem; bottom: 8.125rem;}
    .scrollProgress span{ font-family: 'Poppins', sans-serif; font-weight: 700; color: white; position: absolute; bottom: -5.938rem; left: 0.188rem; transform: rotate(-90deg); transform-origin: left;}
    .scrollProgress > div{width: 0.313rem; height: 8.750rem; background-color: rgba(255, 255, 255, 0.2); border: 1px solid rgba(255, 255, 255, 0.5);  border-radius: 1.250rem; position: relative;}
    .scrollProgress > div > div{width: 0.313rem; height: 0%; position: absolute; left: 0; top: 0; background-color: white; border-radius: 1.250rem; }
    .scrollProgress.black span{color: black;}
    .scrollProgress.black > div{background-color: rgba(0, 0, 0, 0.2); border-color: rgba(0, 0, 0, 0.5);}
    .scrollProgress.black > div > div{background-color: black;}


    footer{padding: 4.375rem 0; background-color: #202020;}
    footer > div h2{max-width: 11.625rem; margin-bottom: 3.125rem;}
    footer > div h2 img{width: 100%;}
    footer > div > div address::after{content: ''; display: block; clear: both;}
    footer > div > div address{font-size: 1.250rem; line-height: 1.875rem; font-style: normal;color: white; margin-bottom: 1.875rem;}
    footer > div > div address p{float: left;}
    footer > div > div address p:first-child{width: 100%;}
    footer > div > div address p:nth-child(n + 2){margin-right: 2.500rem;}
    footer > div > div > p{font-size: 1.250rem; line-height: 1.875rem; color: rgba(255, 255, 255, 0.4);}    

    br.pc{display: none;}

    /* 메인페이지 */
    [data-scroll="all"]{height: 100vh; background-repeat: no-repeat; background-position: center; background-size: cover; }
    [data-scroll="all"] > div{height: 100%;  display: flex; align-items: center; /* padding-top: 7.750rem; */ box-sizing: border-box; position: relative;}
    [data-scroll="pc"]{padding-top: 5.625rem;}
    [data-scroll="pc"] > *:not(footer){}

    [data-scroll="all"]:nth-of-type(1){background-image: url('../images/main_BG01.png');}
    [data-scroll="all"]:nth-of-type(2){background-image: url('../images/main_BG02.png');}
    [data-scroll="all"] > div a{position: absolute; left: 0; bottom: 4.688rem; font-family: 'Poppins', sans-serif; font-size: 1.250rem; font-weight: 700; color: white;}
    [data-scroll="all"] > div a::after{content: ''; position: absolute; left: 0; bottom: -0.313rem; width: 100%; height: 1px; background-color: #e0e0e1;}
    /* 메인 레이아웃 case */
    .main_layout01{padding-top: 9.375rem;}
    .main_layout01 > div.titleArea h2{line-height: 4.000rem; margin-bottom: 3.125rem;}
 /*    .main_layout01 > div.contentArea{max-height: 70.3703vh; height: 100%;}
    .main_layout01 > div.contentArea > *{height: 100%;} */


    [data-scroll="all"] strong{line-height: 4.063rem; color: white;  padding: 0 2.500rem; position: relative;}
    [data-scroll="all"] strong span{position: absolute;}
    [data-scroll="all"] strong span:nth-of-type(1){background-color: #f15835; width: 0.375rem; height: 7.500rem;}
    [data-scroll="all"] strong span:nth-of-type(2){background-color: #f78e1d; height: 0.375rem;}
    [data-scroll="all"] strong span:nth-of-type(3){background-color: #39bca5; width: 0.375rem;}
    [data-scroll="all"]:nth-of-type(1) strong span:nth-of-type(1){left: 0; bottom: 0;}
    [data-scroll="all"]:nth-of-type(1) strong span:nth-of-type(2){right: 1.250rem; bottom: 0; width: 5.000rem;}
    [data-scroll="all"]:nth-of-type(1) strong span:nth-of-type(3){right: 0; top: calc(50% - 42.0.313em); height: 5.938rem;}
    [data-scroll="all"]:nth-of-type(2) strong span:nth-of-type(1){left: 0; top: 0.938rem;}
    [data-scroll="all"]:nth-of-type(2) strong span:nth-of-type(2){left: 3.750rem; bottom: -1.875rem; width: 8.125rem;}
    [data-scroll="all"]:nth-of-type(2) strong span:nth-of-type(3){right: 155px; bottom: -135px; height: 6.875rem;}

    /* 메인 - 도전*/
    .main_challengeArea{padding: 6.563rem 0 44.375rem; position: relative;}
    .main_challengeArea::after{content: ''; position: absolute; right: 0; bottom: 0; width: 100%; height: 38.125rem; background: url('../images/main_BG03.png') no-repeat right top / cover;}
    .main_challengeArea > div{height: 100%; display: flex; flex-direction: column; justify-content: center; }
    .main_challengeArea > div > *{box-sizing: border-box;}
    .main_challengeArea > div h2{font-size: 4.438rem; line-height: 5.063rem; letter-spacing: 0.313rem; margin-bottom: 4.375rem;}

    /* 메인 - 경험의 가치 */
    .main_experienceArea{background-color: #f9f9f9; padding-top: 7.500rem;}
    .main_experienceArea > div{height: 100%; }
    .main_experienceArea > div{position: relative;}
    .main_experienceArea > div > div:not(.imgBox){position: relative; z-index: 1;}
    .main_experienceArea > div > div h2{margin-bottom: 3.125rem;}
    .main_experienceArea > div > div p:not(:last-of-type){margin-bottom: 3.438rem;}
    .main_experienceArea > div > div p b{font-family: 'Nanum Myeongjo', serif;}
    .main_experienceArea > div .imgBox{padding: 7.500rem 0; text-align: center;}
    .main_experienceArea > div .imgBox img{width: 70%; max-width: 25.000rem;}

    /* 메인 - 인터뷰 */
    .main_interviewArea h2{display: none;}
    .main_interviewArea > div{height: 100%;}
    .main_interviewArea .bx-wrapper{height: 100%;  padding-top: 6.250rem; box-sizing: border-box;}
    .main_interviewArea .bx-wrapper{box-shadow: none; border: none; background: transparent; margin: 0; height: 100%;}
    .main_interviewArea .bx-wrapper .bx-viewport{height: 100%;}
    .main_interviewArea .mainSlider{height: 100%;}
    .main_interviewArea .mainSlider > div{height: 100%; display: flex; flex-direction: column; justify-content: center;}
    .main_interviewArea .mainSlider > div > *:not(.imgBox){position: relative; z-index: 1;}
    .main_interviewArea .mainSlider > div h3{margin-bottom: 7.813rem;}
    .main_interviewArea .mainSlider > div h3 small{font-family: 'Poppins', sans-serif;  font-size: 1.375rem; line-height: 1; display: block; margin-bottom: 3.125rem;}
    .main_interviewArea .mainSlider > div p:not(:last-of-type){margin-bottom: 1.250rem;}
    .main_interviewArea .mainSlider > div p:last-of-type{margin-bottom: 3.750rem;}
    .main_interviewArea .mainSlider > div .imgBox{}
    .main_interviewArea .mainSlider > div .imgBox img{width: 100%;}

    /* 메인 - 가능성 */
    .main_possibilityArea{display: flex; flex-direction: column; justify-content: flex-end;}
    .main_possibilityArea > div:nth-of-type(2){ background: url('../images/main_BG06.png') no-repeat center / cover; overflow: auto; padding:12.500rem 0;}
    .main_possibilityArea > div ol{color: white; width: 106.250rem; padding: 0 6.250rem;}
    .main_possibilityArea > div ol::after{content: ''; display: block; clear: auto;}
    .main_possibilityArea > div ol li{float: left; counter-increment: mainPossibilit; position: relative;}
    .main_possibilityArea > div ol li:not(:last-child){margin-right: 10.625rem;}
    .main_possibilityArea > div ol li > *{position: relative; z-index: 1;}
    .main_possibilityArea > div ol li::before{content: ''; position: absolute; left: -3.125rem; top: -3.125rem; width: 13.750rem; height: 13.750rem;border-radius: 100%; }
    .main_possibilityArea > div ol li:nth-child(1)::before{background-color: #f15835;}
    .main_possibilityArea > div ol li:nth-child(2)::before{background-color: #39bca5;}
    .main_possibilityArea > div ol li:nth-child(3)::before{background-color: #f78e1d;}
    .main_possibilityArea > div ol li:nth-child(4)::before{background-color: #000000;}
    .main_possibilityArea > div ol li span{display: flex; align-items: flex-end; font-family: 'Poppins', sans-serif;  margin-bottom: 2.500rem;}
    .main_possibilityArea > div ol li span::before{content: '0' counter(mainPossibilit); font-size: 1.375rem; font-weight: 700;}
    .main_possibilityArea > div ol li span::after{content: ''; width: 1.375rem; height: 0.188rem; background-color: white; margin-left: 0.625rem;}
    .main_possibilityArea > div ol li h3{margin-bottom: 4.688rem;}

    /* 메인 - 게시판 */
    .main_boardArea{padding-bottom: 6.875rem;}
    .main_boardArea > div.contentArea > div:not(:last-of-type){margin-bottom: 3.125rem;}
    .main_boardArea > div.contentArea > div h3{margin-bottom: 1.563rem;}
    .main_boardArea > div.contentArea > div{position: relative;}
    .main_boardArea > div.contentArea > div ul{display: flex; flex-wrap: wrap; justify-content: space-between;}
    .main_boardArea > div.contentArea > div ul li{width: calc((100% - 1.250em) / 2);}
    .main_boardArea > div.contentArea > div ul li:not(:nth-child(-n + 2)){margin-top: 3.438rem;}
    .main_boardArea > div.contentArea > div ul li img{width: 100%; margin-bottom: 0.938rem;}
    .main_boardArea > div.contentArea > div > a{position: absolute; right: 0; top: 0.188rem; font-size: 1.875rem; color: black; font-weight: 900;}


    /* 서브페이지 공통 */
    .subPage > section{padding-top: 6.875rem;}
    .subPage > section.BGCase01{background-color: #f7f7f7;}
    .subPage .contentsArea.case01{padding: 6.250rem 0;}

    .subPage .contentsArea h3{text-align: center;}
    .subPage .contentsArea h3.m_case01{margin-bottom: 5.000rem;}
    .subPage .contentsArea h3.m_case02{margin-bottom: 3.125rem;}
    .subPage .contentsArea h3 + p{text-align: center;}

    .listLink.case01{display: block; margin: 0 auto; font-size: 1.563rem; font-weight: 700; color: white; text-align: center; background-color: #333333; border-radius: 0.313rem;}

    /* 서브페이지 타이틀 */
    .subPage > section .subTitle{height: 20.000rem; display: flex; flex-direction: column; justify-content: center; align-items: center; font-size: 2.875rem; font-weight: 700; color: white; background-repeat: no-repeat; background-position: center; background-size: cover;}
    .subPage > section .subTitle mark{font-family: 'Poppins', sans-serif;  font-size: 1.375rem; font-weight: 700; color: #86ffea; margin-bottom: 1.875rem;}
    /* 서브페이지 타이틀 배경*/
    /* 솔루션 */
    [class ^= 'solution'] .subTitle{background-image: url('../images/solution_titllBG.png');}
    /* 기업소개 */
    [class ^= 'company'] .subTitle{background-image: url('../images/company_titllBG.png');}
    /* 임팩트 */
    [class ^= 'impact'] .subTitle{background-image: url('../images/impact_titleBG.png');}
    /* 사회문제 */
    [class ^= 'problem'] .subTitle{background-image: url('../images/problem_titleBG.png');}

    /* 서브페이지 페이저 */
    .subPage .subPager{padding: 1.250rem 0; border-bottom: 1px solid rgba(0, 0, 0, 0.1); background-color: white;}
    .subPage .subPager ol{display: flex; width: calc(100% - 3.750em);}
    .subPage .subPager ol li{font-size: 1.250rem; padding-right: 1.250rem; margin-right: 1.250rem; border-right: 1px solid rgba(0, 0, 0, 0.1); color: #666666;}
    .subPage .subPager ol li:first-child{position: relative; text-indent: -9999px; width: 1.563rem;}
    .subPage .subPager ol li:first-child:before{content: ''; position: absolute; left: 0; bottom: -2px; width: 1.563rem; height: 1.313rem; background: url('../images/pagaIocn01.png') no-repeat center / cover;}
    .subPage .subPager ol li:nth-child(2){display: flex; align-items: center;}
    .subPage .subPager ol li:nth-child(2)::after{content: ''; width: 0.750rem; height: 0.438rem; background: url('../images/pagaIocn02.png') no-repeat center / cover; margin-left: 0.938rem;}

    /* 서브페이지 border box */
    .subPage .borderBox{border-width: 1px 1px 1px 0.625rem; border-color: #d6d6d6 #d6d6d6 #d6d6d6 #39bca5; border-style: solid; box-sizing: border-box;}

    /* 서브페이지 top img box */
    .subPage .topImgBox{padding-top: 13.750rem; background-repeat: no-repeat; background-position: center top; background-size: 40.000rem;}
    .subPage .topImgBox > div{width: 90%; max-width: 36.250rem; margin: 0 auto; background: white;}


    /* 서브페이지 - 솔루션 */

    .solutionArea .contentsArea{text-align: center;}
    .solutionArea .contentsArea strong{display: block; /* line-height: 3.125rem; */ max-width:30.938rem;  margin:0 auto 2.500rem;}
    .solutionArea .contentsArea > p{margin-bottom: 6.875rem;}
    .solutionArea .contentsArea h3{margin-bottom: 3.125rem;}
    .solutionArea .contentsArea ul::after{content: ''; display: block; clear: both;}
    .solutionArea .contentsArea ul li{width: 23.750rem; text-align: left; padding-top: 25.313rem; background-repeat: no-repeat; background-position: center top; background-size: 100%; margin: 0 auto;}
    .solutionArea .contentsArea ul li:not(:last-child){margin-bottom: 3.125rem;}
    .solutionArea .contentsArea ul li:nth-child(1){background-image: url('../images/solution_img01.png');}
    .solutionArea .contentsArea ul li:nth-child(2){background-image: url('../images/solution_img02.png');}
    .solutionArea .contentsArea ul li:nth-child(3){background-image: url('../images/solution_img03.png');}
    .solutionArea .contentsArea ul li div{width: 15.000rem; font-weight: 700; padding: 1.250rem 0.625rem 0; background-color: white; box-sizing: border-box;}

    .solutionArea .solution_orderList{ background: url('../images/main_BG06.png') no-repeat center / cover;}
    .solutionArea .solution_orderList > ol{max-width: 40.000rem; display: flex; flex-wrap: wrap; justify-content: space-between; padding: 8.750rem 0 6.875rem; box-sizing: border-box; color: white; position: relative;}
    .solutionArea .solution_orderList > ol li{width: calc((100% - 4.063em) / 2); counter-increment: mainPossibilit; position: relative;}
    .solutionArea .solution_orderList > ol li:not(:nth-child(-n + 2)){margin-top: 8.750rem;}
    .solutionArea .solution_orderList > ol li:nth-child(2n + 1){margin-left: 4.063rem;}
    .solutionArea .solution_orderList > ol li > *{position: relative; z-index: 1;}
    .solutionArea .solution_orderList > ol li::before{content: ''; position: absolute; left: -3.125rem; top: -3.125rem; width: 13.750rem; height: 13.750rem;border-radius: 100%; }
    .solutionArea .solution_orderList > ol li:nth-child(1)::before{background-color: #f15835;}
    .solutionArea .solution_orderList > ol li:nth-child(2)::before{background-color: #39bca5;}
    .solutionArea .solution_orderList > ol li:nth-child(3)::before{background-color: #f78e1d;}
    .solutionArea .solution_orderList > ol li:nth-child(4)::before{background-color: #000000;}
    .solutionArea .solution_orderList > ol li > span{display: flex; align-items: flex-end; font-family: 'Poppins', sans-serif;  margin-bottom: 2.500rem;}
    .solutionArea .solution_orderList > ol li > span::before{content: '0' counter(mainPossibilit); font-size: 1.750rem; font-weight: 700;}
    .solutionArea .solution_orderList > ol li > span::after{content: ''; width: 1.375rem; height: 0.188rem; background-color: white; margin-left: 0.625rem;}
    .solutionArea .solution_orderList > ol li h3{margin-bottom: 4.688rem; height: 8.625rem;}
    .solutionArea .solution_orderList > ol li p{font-size: 1.500rem; line-height: 2.375rem; margin-bottom: 1.563rem;}
    .solutionArea .solution_orderList > ol li a{width: 10.000rem; line-height: 4.375rem; border: 1px solid #b2b2b2; font-size: 1.625rem; color: white; padding: 0 0.938rem; box-sizing: border-box; display: flex; justify-content: space-between; align-items: center;}
    .solutionArea .solution_orderList > ol li a::after{content: ''; width: 1.875rem; height: 1.063rem; background: url('../images/linkIcon01.png') no-repeat right center / cover; margin-left: 0.625rem;}


    /* 서브페이지 - 솔루션 - 리포트*/
    .solution_reportArea .contentsArea a{color: black;}
    .solution_reportArea .contentsArea ul{margin-bottom: 3.125rem; display: flex; flex-wrap: wrap;}
    .solution_reportArea .contentsArea ul li{float: left; width: calc((100% - 1.250em) / 2);}
    .solution_reportArea .contentsArea ul li:nth-child(2n){margin-left: 1.250rem;}
    .solution_reportArea .contentsArea ul li:not(:nth-child(-n + 2)){margin-top: 3.125rem;}
    .solution_reportArea .contentsArea ul li .imgBox{max-height: 193px; overflow: hidden; margin-bottom: 0.938rem;}
    .solution_reportArea .contentsArea ul li .imgBox img{width: 100%;}

    .solution_reportArea .contentsArea .boardList{display: flex; justify-content: center; align-items: center;}
    .solution_reportArea .contentsArea .boardList .listLink , .solution_reportArea .contentsArea .boardList .pageLink{text-indent: -9999px; height: 1.125rem; margin: 0 0.313rem; background-repeat: no-repeat; background-position: center; background-size: cover;}
    .solution_reportArea .contentsArea .boardList .listLink{width: 1.188rem;}
    .solution_reportArea .contentsArea .boardList .pageLink{width: 0.688rem;}
    .solution_reportArea .contentsArea .boardList .listLink:nth-of-type(1){background-image: url('../images/boardPrevIcon01.png');}
    .solution_reportArea .contentsArea .boardList .pageLink:nth-of-type(2){background-image: url('../images/boardPrevIcon02.png');}
    .solution_reportArea .contentsArea .boardList .pageLink:nth-of-type(3){background-image: url('../images/boardNextIcon01.png');}
    .solution_reportArea .contentsArea .boardList .listLink:nth-of-type(4){background-image: url('../images/boardNextIcon02.png');}
    .solution_reportArea .contentsArea .boardList ol{display: flex; justify-content: center; align-items: center; margin: 0 1.875rem;}
    .solution_reportArea .contentsArea .boardList ol li a{display: block; font-family: 'Poppins', sans-serif;  width: 2.313rem; font-size: 1.375rem; line-height: 2.313rem; text-align: center; border-radius: 100%;}
    .solution_reportArea .contentsArea .boardList ol li a.active , .solution_reportArea .contentsArea .boardList ol li a:hover{background-color: #39bca5; color: white;}


    /* 서브페이지 - 솔루션 - 리포트 상세*/
    .solution_report_datailArea .contentsArea{}
    .solution_report_datailArea .contentsArea > div.board_contents{padding-bottom:3.125rem;}
    .solution_report_datailArea .contentsArea > div.board_contents .title{font-size: 1.875rem; font-weight: 700; display: block; text-align: center; line-height: 9.375rem; border-width: 1px 0; border-style: solid; border-color: #cccccc; margin-bottom: 3.125rem;}
    .solution_report_datailArea .contentsArea > div.board_contents .imgBox{text-align: center;}
    .solution_report_datailArea .contentsArea > div.board_contents .imgBox:not(:last-child){margin-bottom: 5.625rem;}
    .solution_report_datailArea .contentsArea > div.board_contents .imgBox img{max-width: 100%;}
    .solution_report_datailArea .contentsArea > div.board_contents > *:not(.title){font-size: 1.313rem; line-height: 1.750rem; padding: 0 1.875rem;}
    .solution_report_datailArea .contentsArea > div.board_contents > *:not(:last-child):not(:first-child){margin-bottom: 1.875rem;}
    .solution_report_datailArea .contentsArea > div.downloadArea{padding: 2.500rem 2.5%; border-width: 1px 0 2px; border-style: solid; border-color: #cccccc transparent black; margin-bottom: 3.125rem;}
    .solution_report_datailArea .contentsArea > div.downloadArea > *{font-size: 1.125rem; color: #333333;}
    .solution_report_datailArea .contentsArea > div.downloadArea > a{display: inline-block; margin-left: 1.250rem; position: relative;}
    .solution_report_datailArea .contentsArea > div.downloadArea > a::after{content: ''; position: absolute; left: 0; bottom: -0.438rem; width: 100%; height: 1px; background-color: black;}
    .solution_report_datailArea .contentsArea .listLink.case01{width: 17.500rem; line-height: 4.375rem;}


    /* 서브페이지 - 솔루션 - 플랫폼*/
    .solution_platformArea{text-align: center;}
    .solution_platformArea .contentsArea > p{margin-bottom: 5.000rem;}
    .solution_platformArea .contentsArea > ul{ align-items: stretch; margin-bottom: 6.250rem;}
    .solution_platformArea .contentsArea > ul li{width: 21.563rem; height: 21.563rem; margin: 0 auto;  position: relative; }
    .solution_platformArea .contentsArea > ul li::before{content: ''; position: absolute; left: -0.625rem; top: 0; width: 22.813rem; height: 22.813rem; border-radius: 100%; z-index: -1;}
    .solution_platformArea .contentsArea > ul li:nth-child(1)::before{background-color: #f15835;}
    .solution_platformArea .contentsArea > ul li:nth-child(2)::before{background-color: #39bca5;}
    .solution_platformArea .contentsArea > ul li:nth-child(3)::before{background-color: #f78e1d;}
    .solution_platformArea .contentsArea > ul li div{color: white; display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100%;}
    .solution_platformArea .contentsArea > ul li div::before{content: ''; width: 7.750rem; height: 6.688rem; background-repeat: no-repeat; background-position: center; background-size: cover; margin-bottom: 1.875rem;}
    .solution_platformArea .contentsArea > ul li:nth-child(1) div::before{background-image: url('../images/solution_platformIcon01.png');}
    .solution_platformArea .contentsArea > ul li:nth-child(2) div::before{background-image: url('../images/solution_platformIcon02.png');}
    .solution_platformArea .contentsArea > ul li:nth-child(3) div::before{background-image: url('../images/solution_platformIcon03.png');}
    .solution_platformArea .contentsArea > div{height: 31.250rem; background-color: #eeeeee;}


    /* 서브페이지 - 솔루션 - 교육*/
    .solution_educationArea .contentsArea > p{margin-bottom: 3.125rem; letter-spacing: -1.0.313rem;}
    /* 서브페이지 - 솔루션 - 교육 contentsBox*/
    .solution_educationArea .contentsBox:not(:last-of-type){margin-bottom: 3.125rem;}
    .solution_educationArea .contentsBox{background-color: white; border-radius: 1.250rem;}
    .solution_educationArea .contentsBox .boxTop{padding: 2.500rem 1.563rem 2.813rem;}
    .solution_educationArea .contentsBox .boxTop h4{margin-bottom: 2.813rem;}
    .solution_educationArea .contentsBox .boxTop p{letter-spacing: -1px;}
    .solution_educationArea .contentsBox .boxTop p:first-of-type{padding-top: 1.563rem; background: url('../images/quoteIcon01.png') no-repeat left top;}
    .solution_educationArea .contentsBox .boxBottom{padding: 3.125rem 0.938rem 2.500rem; border-top: 1px solid #e0e0e0;}
    .solution_educationArea .contentsBox .boxBottom strong{font-size: 1.375rem; font-weight: 700;}
    .solution_educationArea .contentsBox .boxBottom p{font-size: 1.313rem;}

    .boxBottom ul::after{content: ''; display: block; clear: both;}
    .boxBottom ul:nth-of-type(1){margin-bottom: 3.125rem;}
    .boxBottom ul:nth-of-type(1) li{ padding:1.875rem 0;  display: flex; align-items: center;  background-color: #f5f5f5; border-radius: 1.250rem;}
    .boxBottom ul:nth-of-type(1) li:not(:last-child){ margin-bottom: 0.625rem;}
    .boxBottom ul:nth-of-type(1) li strong{width: 10.000rem; text-align: center; }
    .boxBottom ul:nth-of-type(1) li div{width: calc(100% - 10.000em); padding: 0 1.875rem; position: relative;}
    .boxBottom ul:nth-of-type(1) li div::before{content: ''; position: absolute; left: 0; top: 0; width: 1px; height: 100%; background-color: #cccccc;}
    .boxBottom ul:nth-of-type(1) li div p{letter-spacing: -0.0.313rem;}
    .boxBottom ul:nth-of-type(1) li div p span{display: block; color: #666666;}

    .boxBottom ul:nth-of-type(2) li{ width: 21.563rem; margin: 0 auto; padding: 0 1.563rem; border: 1px solid #dfdfdf; border-radius: 1.250rem; box-sizing: border-box;}
    .boxBottom ul:nth-of-type(2) li:not(:last-child){margin-bottom: 1.875rem;}
    .boxBottom ul:nth-of-type(2) li strong{display: block; padding: 6.875rem 0 1.563rem; text-align: center; background-repeat: no-repeat; background-position: center top 1.875rem; background-size: 4.125rem;}
    .boxBottom ul:nth-of-type(2) li.case01 strong{background-image: url('../images/solution_education_icon01_1.png');}
    .boxBottom ul:nth-of-type(2) li.case02 strong{background-image: url('../images/solution_education_icon01_2.png');}
    .boxBottom ul:nth-of-type(2) li.case03 strong{background-image: url('../images/solution_education_icon01_3.png');}
    .boxBottom ul:nth-of-type(2) li:nth-child(2) strong{background-image: url('../images/solution_education_icon02.png');}
    .boxBottom ul:nth-of-type(2) li:nth-child(3) strong{background-image: url('../images/solution_education_icon03.png');}
    .boxBottom ul:nth-of-type(2) li p{height: 7.188rem; display: flex; flex-direction: column; justify-content: center; align-items: center; border-top: 1px solid #dfdfdf; }
    .boxBottom ul:nth-of-type(2) li p[data-standard]::after{content: '(' attr(data-standard) '기준)'; display: block;}
    /* 솔루션 fin */


    /* 서브페이지 - 기업소개 */

    /* 서브페이지 - 기업소개 - 미션과 비전*/
    .company_missionArea .contentsArea > div:not(:last-child){margin-bottom: 6.250rem;}
    .company_missionArea .contentsArea .visionArea::after{content: ''; display: block; clear: both;}
    .company_missionArea .contentsArea .visionArea > div{ height: 11.250rem; display: flex; align-items: center;}
    .company_missionArea .contentsArea .visionArea > div:not(:last-child){margin-bottom: 0.938rem;}
    .company_missionArea .contentsArea .visionArea > div strong{width: 300px; text-align: center; text-transform: uppercase; letter-spacing: 0.313rem;}
    .company_missionArea .contentsArea .visionArea > div p{font-weight: 700;}

    /* 서브페이지 - 기업소개 - 미션과 비전 - CI*/
    /* .company_missionArea .contentsArea .CIArea > div:not(.designBox){float: left; width: calc((100% - 1.250em) / 2); margin-bottom: 3.125rem;} */
    /* .company_missionArea .contentsArea .CIArea > div:nth-of-type(2n){margin-left: 1.250rem;} */
    .company_missionArea .contentsArea .CIArea > div:not(:last-child){margin-bottom: 1.875rem;}
    .company_missionArea .contentsArea .CIArea > div h4{font-size: 1.313rem; font-weight: 400; margin-bottom: 1.250rem;}

    .company_missionArea .contentsArea .CIArea .basicBox img{width: 100%;}

    .company_missionArea .contentsArea .CIArea .colorBox ul li::after{content: ''; display: block; clear: both;}
    .company_missionArea .contentsArea .CIArea .colorBox ul li{width: 100%; height: 6.500rem;}
    .company_missionArea .contentsArea .CIArea .colorBox ul li:not(:last-child){margin-bottom: 1.875rem;}
    .company_missionArea .contentsArea .CIArea .colorBox ul li div{float: left; height: 100%; display: flex;}
    .company_missionArea .contentsArea .CIArea .colorBox ul li div:nth-of-type(1){width: calc(100% - 8.125em); background-color: black;}
    .company_missionArea .contentsArea .CIArea .colorBox ul li div:nth-of-type(2){width: 8.125rem; border: 1px solid black; box-sizing: border-box;}

    .company_missionArea .contentsArea .CIArea .designBox{clear: both;}
    .company_missionArea .contentsArea .CIArea .designBox ul{margin-bottom: 3.125rem;}
    .company_missionArea .contentsArea .CIArea .designBox ul::after{content: ''; display: block; clear: both;}
    .company_missionArea .contentsArea .CIArea .designBox ul li{float: left; width: calc((100% - 1.250em) / 3);}
    .company_missionArea .contentsArea .CIArea .designBox ul li:not(:nth-child(3n)){margin-right: 0.625rem;}
    .company_missionArea .contentsArea .CIArea .designBox ul li:not(:nth-child(-n + 3)){margin-top: 0.625rem;}
    .company_missionArea .contentsArea .CIArea .designBox ul li img{width: 100%;}
    .company_missionArea .contentsArea .CIArea .designBox .listLink.case01{width: 23.750rem; line-height: 4.375rem;}

    /* 서브페이지 - 기업소개 - 미션과 비전 - 시설 안내*/
    .company_missionArea .contentsArea .facilityArea > div{ height: 19.688rem; background-color: #eeeeee;}
    .company_missionArea .contentsArea .facilityArea > div:not(:last-child){margin-bottom: 0.625rem;}

    /* 서브페이지 - 기업소개 - 미션과 비전 - 파트너스*/
    .company_missionArea .contentsArea .partnerArea ul::after{content: ''; display: block; clear: both;}
    .company_missionArea .contentsArea .partnerArea ul li{float: left; width: calc((100% - 1.250em) / 3); text-align: center;}
    .company_missionArea .contentsArea .partnerArea ul li:not(:nth-child(3n)){margin-right: 0.625rem;}
    .company_missionArea .contentsArea .partnerArea ul li:not(:nth-child(-n + 3)){margin-top: 1.875rem;}
    .company_missionArea .contentsArea .partnerArea ul li img{width: 100%; border: 1px solid #c5c5c5; margin-bottom: 1.250rem;}
    .company_missionArea .contentsArea .partnerArea ul li p{font-size: 1.313rem;}


    /* 서브페이지 - 기업소개 - history */
    .company_historyArea .contentsArea ol.historyList li::after{content: ''; display: block; clear: both;}
    .company_historyArea .contentsArea ol.historyList li > *{float: left;}
    .company_historyArea .contentsArea ol.historyList li > strong{width: 10.625rem;}
    .company_historyArea .contentsArea ol.historyList li > div{width: calc(100% - 10.625em);}
    .company_historyArea .contentsArea ol.historyList li > div div{padding-left: 4.375rem; padding-bottom: 1.875rem; position: relative;}
    .company_historyArea .contentsArea ol.historyList li > div div::before{content: ''; position: absolute; left: -0.594rem; top: 0.375rem; width: 1.188rem; height: 1.188rem; background-color: #39bca5; border-radius: 100%;}
    .company_historyArea .contentsArea ol.historyList li > div div::after{content: ''; position: absolute; left: 0; top: 0.375rem; width: 1px; height: 100%; background-color: rgba(49, 179, 155, 0.2); }
    .company_historyArea .contentsArea ol.historyList li:last-of-type > div div:last-of-type::after{display: none;}
    .company_historyArea .contentsArea ol.historyList li > div div mark{color: #39bca5;}
    .company_historyArea .contentsArea ol.historyList li > div div p{color:#8b8b8b;}

    .company_historyArea .projectArea{background-color:#f7f7f7;}
    .company_historyArea .projectArea ol > li{padding: 2.813rem 0.625rem 0.625rem; background-color: white; border-radius: 1.250rem; box-shadow: 0.313rem 0.313rem 0.313rem 0px rgba(0, 0, 0, 0.2);}
    .company_historyArea .projectArea ol > li:not(:last-child){margin-bottom: 2.500rem;}
    .company_historyArea .projectArea ol > li strong{display: block; position: relative; margin-left: 3.125rem; margin-bottom: 2.500rem;}
    .company_historyArea .projectArea ol > li strong::before{content: ''; position: absolute; left: -1.875rem; top: 0; width: 1.313rem; height: 1.063rem; background: url('../images/quoteIcon01.png') no-repeat center / cover;}
    .company_historyArea .projectArea ol > li ul{ display: flex; flex-wrap: wrap;}
    .company_historyArea .projectArea ol > li ul li{width:calc((100% - 0.625em) / 2); height: 6.875rem; background-color: #f7f7f7; border-radius: 1.250rem; display: flex; flex-direction: column; justify-content: center; align-items: center; letter-spacing: -1px;}
    .company_historyArea .projectArea ol > li ul li:nth-child(2n){margin-left: 0.625rem;}
    .company_historyArea .projectArea ol > li ul li:not(:nth-child(-n + 2)){margin-top: 0.625rem;}


    /* 서브페이지 - 기업소개 - 상시채용 */
    .company_employArea .contentsArea .topImgBox{background-image: url('../images/company_employBG.png'); text-align: center;}
    .company_employArea .contentsArea .topImgBox > div{padding-top: 2.500rem; margin-bottom: 3.750rem; position: relative;}
    .company_employArea .contentsArea .topImgBox > div::before , .company_employArea .contentsArea .topImgBox > div::after{content: ''; position: absolute; top: 8.750rem; width: 1.750rem; height: 1.375rem; background-repeat: no-repeat; background-size: cover; background-position: center;}
    .company_employArea .contentsArea .topImgBox > div::before{left: -1.563rem; background-image: url('../images/quoteIcon01_1.png');}
    .company_employArea .contentsArea .topImgBox > div::after{right: -1.563rem; background-image: url('../images/quoteIcon02_1.png');}
    .company_employArea .contentsArea .topImgBox > div strong{display: block; margin-bottom: 2.500rem;}
    .company_employArea .contentsArea .topImgBox > div p{font-size: 1.625rem; line-height: 2.000rem; font-weight: 300; width: 31.250rem; margin:0 auto;}
    .company_employArea .contentsArea .topImgBox > div p:not(:last-of-type){margin-bottom: 2.188rem;}
    .company_employArea .contentsArea .topImgBox > ul{color: white; margin-bottom: 6.250rem;}
    .company_employArea .contentsArea .topImgBox > ul li{ max-width: 18.125rem; height: 11.250rem; padding: 1.875rem 0; border-radius: 1.250rem; box-sizing: border-box; margin: 0 auto; display: flex; flex-direction: column; justify-content: space-between;}
    .company_employArea .contentsArea .topImgBox > ul li:not(:last-child){margin-bottom: 0.625rem;}
    .company_employArea .contentsArea .topImgBox > ul li:nth-child(1){background-color: #f15835;}
    .company_employArea .contentsArea .topImgBox > ul li:nth-child(2){background-color: #39bca5;}
    .company_employArea .contentsArea .topImgBox > ul li:nth-child(3){background-color: #f78e1d;}
    .company_employArea .contentsArea .topImgBox > ul li:nth-child(4){background-color: #888888;}
    .company_employArea .contentsArea .topImgBox > p{line-height: 3.125rem; font-weight: 400;}
    .company_employArea .contentsArea .topImgBox > p span{font-weight: 700;}
    .company_employArea .contentsArea .topImgBox > p:not(:last-of-type){margin-bottom: 3.125rem;}
    .company_employArea .contentsArea .topImgBox .listLink.case01{width: 23.750rem; line-height: 4.375rem; margin-top: 6.250rem;}


    /* 서브페이지 - 기업소개 - Contact Us */
    .company_contactUsArea .contentsArea .borderBox{height: 8.125rem; display: flex; flex-direction: column; justify-content: space-evenly; align-items: center; margin-bottom: 3.125rem;}
    .company_contactUsArea .contentsArea .borderBox > b a{color: black;}

    .company_contactUsArea .contentsArea .addressBox > div:not(:last-of-type){margin-bottom: 2.500rem;}
    .company_contactUsArea .contentsArea .addressBox > div h4{font-weight: 400; margin-bottom: 1.563rem;}
    .company_contactUsArea .contentsArea .addressBox > div iframe{width: 100%;}


    /* 서브페이지 - 임팩트 */
    .impactArea .contentsArea .borderBox{ padding: 3.125rem 1.250rem; margin-bottom: 3.125rem;}
    .impactArea .contentsArea .borderBox strong{display: block; text-align: center; letter-spacing: 0.313rem; margin-bottom: 2.813rem;}
    .impactArea .contentsArea .borderBox p{font-weight: 700; letter-spacing: -1px;}
    .impactArea .contentsArea > p{text-align: center; margin-bottom: 4.375rem;}
    .impactArea .contentsArea .imgBox{text-indent: -9999px; padding-bottom: 113%; background: url('../images/m/impactImg01.png') no-repeat center / 100%; }


    /* 서브페이지 - 임팩트 - 기업사례*/
    .impact_caseArea .contentsArea ol li{padding: 6.250rem 1.250rem 4.375rem; background-color: white; border-radius: 1.250rem; counter-increment: businessCase; box-shadow: 0.313rem 0.313rem 0.313rem 0px rgba(0, 0, 0, 0.2);}
    .impact_caseArea .contentsArea ol li:not(:last-child){margin-bottom: 3.125rem;}
    .impact_caseArea .contentsArea ol li h4{text-align: center; background-color: white; margin-bottom: 3.125rem;}
    .impact_caseArea .contentsArea ol li h4 span{position: relative;}
    .impact_caseArea .contentsArea ol li h4 span::before{content: '0' counter(businessCase); position: absolute; left: 0; top: -2.500rem; font-family: 'Poppins', sans-serif;   font-size: 4.438rem; font-weight: 700; color: #39bca5; height: 2.813rem; overflow: hidden; letter-spacing: -0.188rem;}

    .impact_caseArea .contentsArea ol li > div{border: 1px solid #dfdfdf; border-radius: 1.250rem; padding: 1.875rem 2.188rem; margin-bottom: 3.125rem;}
    .impact_caseArea .contentsArea ol li > div .imgBox{max-width: 15.625rem; margin: 0 auto 1.875rem;}
    .impact_caseArea .contentsArea ol li > div .imgBox img{width: 100%;}
    .impact_caseArea .contentsArea ol li > div .textBox{/* width: calc(100% - 15.625em); */ color: #333333; padding: 1.875rem 0 0; border-top: 1px solid #dfdfdf;}

    .impact_caseArea .contentsArea ol li > figure{text-align: center; max-width: 430px; margin: 0 auto;}
    .impact_caseArea .contentsArea ol li > figure img{ width: 100%; padding: 0.938rem; border: 1px solid #f7f7f7;  box-sizing: border-box; margin-bottom: 3.750rem;}
    .impact_caseArea .contentsArea ol li > figure figcaption{text-align: left;}
    .impact_caseArea .contentsArea ol li > figure figcaption h5{font-weight: 400; margin-bottom: 3.750rem;}
    .impact_caseArea .contentsArea ol li > figure figcaption p:first-of-type{padding-top: 1.875rem; background: url('../images/quoteIcon01.png') no-repeat left top; background-size: 1.313rem;}


    /* 서브페이지 - 사회문제 */
    .problemArea .contentsArea > *:not(:last-child){margin-bottom: 9.375rem;}
    .problemArea .contentsArea .quoteBox{text-align: center;  max-width: 40.000rem; width: calc(100% - 3.750em); margin-left: auto; margin-right: auto; position: relative;}
    .problemArea .contentsArea .quoteBox q{display: inline-block; width: calc(100% - 3.750em); font-size: 2.125rem; line-height: 3.250rem; text-align: center; letter-spacing: -0.188rem;}
    .problemArea .contentsArea .quoteBox q::before, .problemArea .contentsArea .quoteBox q::after{
        content: ''; width: 1.750rem; height: 1.375rem; position: absolute; top: calc(50% - 0.875em); background-repeat: no-repeat; background-position: center; background-size: cover;
    }
    .problemArea .contentsArea .quoteBox q::before{left: 0px; background-image: url('../images/quoteIcon01_1.png');}
    .problemArea .contentsArea .quoteBox q::after{right: 0px; background-image: url('../images/quoteIcon02_1.png');}

    .problemArea .contentsArea .topImgBox.case01{background-image: url('../images/problem_BG01.png');}
    .problemArea .contentsArea .topImgBox.case02{background-image: url('../images/problem_BG04.png');}
    .problemArea .contentsArea .topImgBox.case03{background-image: url('../images/problem_BG05.png');}
    .problemArea .contentsArea .topImgBox > div{padding-top: 1.875rem;}
    .problemArea .contentsArea .topImgBox > div h3{max-width: 31.250rem; margin-left: auto; margin-right: auto;}
    .problemArea .contentsArea .topImgBox > div h3:not(:last-child){margin-bottom: 6.250rem;}
    .problemArea .contentsArea .topImgBox .graphList li{ padding: 1.875rem 2.188rem 1.563rem; box-sizing: border-box; text-align: center; border-radius: 1.250rem; box-shadow: 0px 2px 0.313rem 0px rgba(0, 0, 0, 0.2);}
    .problemArea .contentsArea .topImgBox .graphList li:not(:last-child){margin-bottom: 3.125rem;}
    .problemArea .contentsArea .topImgBox .graphList li img{width: 100%; margin-bottom: 1.250rem;}
    .problemArea .contentsArea .topImgBox .graphList li strong{display: block; line-height: 2.000rem; margin-bottom: 0.938rem;}
    .problemArea .contentsArea .topImgBox .graphList li p{font-size: 1.375rem; line-height: 1; font-weight: 700;}

    .problemArea .contentsArea .BGBox01{height: 32.500rem; background: url('../images/problem_BG02.png') no-repeat center / cover; }
    .problemArea .contentsArea .BGBox01 > div{width: calc(100% - 3.750em); height: 100%; display: flex; flex-direction: column; align-items: flex-start; justify-content: center; color: white;}
    .problemArea .contentsArea .BGBox01 > div strong{display: inline-block; margin-bottom: 3.125rem;}
    .problemArea .contentsArea .BGBox01 > div strong::after{content: ''; display: block; width: 100%; height: 1px; background-color: rgba(255, 255, 255, 0.5); margin-top: 0.313rem;}
    .problemArea .contentsArea .BGBox01 > div p{font-size: 1.563rem; line-height: 2.063rem;}
    .problemArea .contentsArea .BGBox01 > div p:not(:last-child){margin-bottom: 2.188rem;}

    .problemArea .contentsArea .imgBox{text-align: center;}
    .problemArea .contentsArea .imgBox strong{display: inline-block; font-size: 3.250rem; font-weight: 700; color: #39bca5; position: relative; margin-bottom: 1.250rem;}
    .problemArea .contentsArea .imgBox strong::before, .problemArea .contentsArea .imgBox strong::after{
        content: ''; width: 2.125rem; height: 1.688rem; position: absolute; top: 0.313rem; background-repeat: no-repeat; background-position: center; background-size: cover;
    }
    .problemArea .contentsArea .imgBox strong::before{left: -3.438rem; background-image: url('../images/quoteIcon01_2.png');}
    .problemArea .contentsArea .imgBox strong::after{right: -3.438rem; background-image: url('../images/quoteIcon02_2.png');}
    .problemArea .contentsArea .imgBox p{font-size: 2.125rem; font-weight: 300; margin-bottom: 5.000rem;}
    .problemArea .contentsArea .imgBox div{}
    .problemArea .contentsArea .imgBox div img{width: 100%;}

    .problemArea .contentsArea .BGBox02{background: #39bca5 ; position: relative;}
    .problemArea .contentsArea .BGBox02::after{content: ''; display: block;  width: 90%; height: 19.688rem; background: url('../images/problem_BG03.png') no-repeat right bottom / cover; border-width: 0.500rem 0.500rem 0 0; border-style: solid; border-color: white;}
    .problemArea .contentsArea .BGBox02 > div{width: calc(100% - 3.750em); height: 100%; }
    .problemArea .contentsArea .BGBox02 > div > div{padding: 6.250rem 0 5.000rem;}
    .problemArea .contentsArea .BGBox02 > div > div p{font-size: 1.750rem; line-height: 2.375rem; font-weight: 500; color: white;}
    .problemArea .contentsArea .BGBox02 > div > div p:not(:last-child){margin-bottom: 2.500rem;}

}

